{% extends 'njk/_layout.njk' %}


{% block content %}
  {% include 'njk/components/_about.njk' %}
  {% include 'njk/components/_gallery.njk' %}
  {% include 'njk/components/_tabs.njk' %}
{% endblock %}
